<!DOCTYPE html>
<html ng-app="myApp">
    <head>
        <title></title>
        <link rel="stylesheet" href="static/css/style.css" media="screen" title="no title" charset="utf-8">
    </head>
    <body>
        <div ng-controller="TextController">
            <p ng-bind="someText.message">
            </p>
        </div>

        <form ng-submit="requestFunding()" ng-controller="StartUpController">
            見込み: <input ng-change="computeNeeded()" ng-model="startingEstimate">
            推奨額: <div ng-bind="needed"></div>
            <button>出資を依頼する！</button>
        </form>

        <div ng-controller="StudentListController">
            <ul>
                <li ng-repeat="student in students">
                    <a href="/student/view/{{student.id}}" ng-bind="student.name"></a>
                </li>
            </ul>
            <button ng-click="insertTom()">追加</button>
        </div>

        <table ng-controller="AlbumController">
            <tr ng-repeat="track in album">
                <td ng-bind="$index + 1"></td>
                <td ng-bind="track.name"></td>
                <td ng-bind="track.duration"></td>
            </tr>
        </table>

        <div ng-controller="DeathrayMenuController">
            <button ng-click="toggleMenu()">メニューをトグル</button>
            <ul ng-show="menuState.show">
                <li ng-click="stun()" class="menu-disabled-{{isDisabled}}">気絶</li>
                <li ng-click="disintegrate()">崩壊</li>
                <li ng-click="erase()">歴史から消去</li>
            </ul>
        </div>

        <div ng-controller="HeaderController">
            <div ng-class="{error: isError, warning: isWarning}">{{messageText}}</div>
            <button ng-click="showError()">エラーを発生させる</button>
            <button ng-click="showWarning()">警告を発生させる</button>
        </div>

        <table ng-controller="RestaurantTableController">
               <tr ng-repeat="restaurant in directory" ng-click="selectRestaurant($index)" ng-class="{selected: $index==selectedRow}">
                   <td>{{restaurant.name}}</td>
                   <td>{{restaurant.cuisine}}</td>
               </tr>
        </table>

        <br>

        <div ng-controller="CartController">
            <div ng-repeat="item in items">
                <span>{{item.title}}</span>
                <input type="text" ng-model="item.quantity">
                <span>{{item.price | currency}}</span>
                <span>{{item.price * item.quantity | currency}}</span>
            </div>
            <div>小計: {{bill.total | currency}}</div>
            <div>値引き: {{bill.discount | currency}}</div>
            <div>合計: {{bill.subtotal | currency}}</div>
        </div>

        <script src="static/js/bower_components/angularjs/angular.min.js" charset="utf-8"></script>
        <script src="static/js/controllers.js" charset="utf-8"></script>
    </body>
</html>
